h3{
    text-align: center;
}
h5{
    text-align: center;
}

#esto {
    text-align: center;
}

#chees {
    width: 200px;
    margin: auto;
    display: block;
}
#tech{
    width: 75px;
    margin: auto;
    display: block;
}