<!DOCTYPE html>
<html lang="en" ng-app="portApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Software Engineer">
        <meta name="author" content="Santiago De La Torre">
        <title>Santiago</title>
        <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/freelancer.css" rel="stylesheet">
        <!--<link href="/stylesheets/grayscale.css" rel="stylesheet"> -->
        <!-- Custom Fonts -->
        <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
                                h3{
                                    text-align: center;
                                }
                                h5{
                                    text-align: center;
                                }
                                
                                #esto {
                                    text-align: center;
                                }
                                
                                #chees {
                                    width: 200px;
                                    margin: auto;
                                    display: block;
                                }
                                #tech{
                                    width: 75px;
                                    margin: auto;
                                    display: block;
                                }
        </style>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll">
                            <a href="#page-top">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#education">Education</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#portfolio">Projects</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#experience">Experience</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#technologies">Technologies</a>
                        </li>
                        <li class="page-scroll">
                            <a href="resume.pdf">Resume</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive img-circle" src="img/profile.png" alt="">
                        <div class="intro-text">
                            <h4>Santiago De La Torre</h4>
                            <p class="text-muted">Software Engineer</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <a href="http://github.com/santidltp" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                                <li>
                                    <a href="http://facebook.com/santidltp" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/santidltp" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="http://linkedin.com/in/santidltp" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Education Grid Section -->
        <section id="education">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-0">
                            <p class="logo">Education</p>
                        </div>
                    </div>
                    <div class="row">
                        <!--BHCC-->
                        <div class="col-sm-6 portfolio-item">
                            <img id="chees" src="img/education/bhcc.png" style"height: 100px"/>
                            <h5 id="esto">Bunker Hill community college</h5>
                            <p id="esto">A.S. in Computer Science</p>
                        </div>
                        <!--UMass-->
                        <div class="col-sm-6 portfolio-item">
                            <img id="chees" src="img/education/umass.png" style="height: 90px; width: 99.5px"/>
                            <h5 id="esto">University of Massachusetts - Amherst</h5>
                            <p id="esto">B.S. in Computer Science</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid Section -->
        <section class="success" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-0">
                        <p class="logo">Projects</p>
                        <p class="para">Here you can find some of the projects I have the developed. Some of them are school projects and some of them are personal projects developed for personal learning.
                        </p>
                    </div>
                </div>
                <div class="row" ng-controller="icoCTRL">
                    <!--First Last Bank-->
                    <div class="col-sm-2 portfolio-item" ng-repeat="icon in icons">
                        <a href="{{icon.href}}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{icon.img}}" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Experience Section -->
        <section id="experience" ng-controller="experienceCTRL">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-0">
                        <p class="logo">Work Experience</p>
                    </div>
                </div>
                <div class="row">
                    <!--Rediker Sotware-->
                    <div class="col-sm-12 portfolio-item" ng-repeat="job in experience">
                        <img id="chees" ng-src="{{job.img}}"/>
                        <h3 id="esto">{{job.company}}</h3>
                        <p id="esto">{{job.time}}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!--    <h2>About</h2>
                        <hr class="star-light">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                        <p class="logo">About Me</p>
                        <p class="para">I am just a guy trying to survive in the real world by writing code. I’m finishing my Bachelor's degree in Computer Science at the University of Massachusetts - Amherst with a concentration in Artificial Intelligence. I started coding in Visual Basic 6.0 when I was 16 years old. When was I 16 years old? Well, let’s just say that I used to surf the web with a 56k modem and sing out loud its connection sound. I am currently living in Sunderland, Mass. I don’t have a lot of free time, but when I do, I like to write code, watch Formula 1, listen to music, among other things.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Technologies Section -->
        <section  id="technologies">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-0">
                        <p class="logo">Technologies</p>
                        <p class="para">These are some of the technologies I have used
                        while developing my porjects. Including but not limited to; programming languages, web frameworks,
                        task managers, Databases, and more. </p>
                    </div>
                </div>
                <div class="row" style="padding-top: 25px" ng-controller="techCTRL">
                    <div class="col-sm-2 portfolio-item" ng-repeat="tk in technology">
                        <img id="tech" ng-src="{{tk.img}}"/>
                        <h5>{{tk.title}}</h5>
                    </div>
           
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Santiago De La Torre 2014
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visble-sm">
            <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <!-- Portfolio Modals -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content" style=width: "502px;">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>First Last Bank</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/first.jpg" class="img-responsive img-centered" alt="">
                                <p>Desktop application developed in C++ that simulates a bank ATM. This application uses a BinaryTree data structure to keep a track of all its users and their data. And no, this doesn't print real money! <a href="https://github.com/santidltp/First-Last-Bank">Click here</a> and take a look at its GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>May 2010</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>OOverlap</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/overlap.png" class="img-responsive img-centered" alt="">
                                <p>OOverlap is a web application developed by Team Undefined that allows you to check if you and your friends have available time to hang out. <a href="https://ooverlap.herokuapp.com">Click here</a> to go to the website, or <a href="https://github.com/umass-cs-326/team-undefined">click here</a> to check out the GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>December 2014</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Boola Boola University</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/Boola.png" class="img-responsive img-centered" alt="">
                                <p>Desktop application developed in Java that simulates a typical University registration system. This application uses a data base that keeps a track of all resgistered students as well as their courses. Alsways making sure that there is no overlap in their schedule. <a href="https://github.com/santidltp/Boola">Click here</a> and take a look at its GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>October 2010</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="proCTRL"  >
            <div ng-repeat="info in projects">
        <div class="portfolio-modal modal fade" id="{{info.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{info.title}}</h2>
                                <hr class="star-primary">
                                <img src="{{info.img}}" class="img-responsive img-centered" alt="">
                                <p>{{info.info}}</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>{{info.date}}</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Slot Machine</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/slotmachine2.png" class="img-responsive img-centered" alt="">
                                <p>Desktop application developed in Java that simulates a Slot Machine game Formula 1 themed. This game uses random generation to load the images. Let's see how many "fake" coins you can get! <a href="https://github.com/santidltp/Slot-Machine">Click here</a> and take a look at its GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>December 2010</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Hardware Store </h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/hardwarestore.png" class="img-responsive img-centered" alt="">
                                <p>Desktop application developed in Microsoft Foundation Class Library(MFC) that simulates a hardware store where the users can see the available inventory and make purchases. This program uses a LinkedList that loads the inventory from a database. <a href="https://github.com/santidltp/Hardware-store">Click here</a> and take a look at its GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>November 2010</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Java Examinator </h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/javaexam.png" class="img-responsive img-centered" alt="">
                                <p>This program, is a simple program that simulates the JAVA Certification Examination. First, you would have to provide your user id and your four-digit password to start the exam. If the user successfully logs in, a preparation message will pup up to inform the user that he/she has 10 minutes to answer 20 questions about JAVA. The exam will start as soon as the user presses ENTER. The user id, password, and the number of exams taken by an user are stored in a database. All the questions that the program uses are also stored in a database. All questions are devided in four levels of difficulty, level one the lowest and level four the highest. <a href="https://github.com/santidltp/Examiner">Click here</a> and take a look at its GitHub repo.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>December 2010</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Roger The Robot</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/roger.png" class="img-responsive img-centered" alt="">
                                <p>Roger is a virtual robot programmed in desktop simulator developed in C. This robot uses principles such as; Inverse kinematics, PD controllers, and more. There is no Github repository available for this project, but stay tuned because there will be one soon!</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>December 2014</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Breakout Game</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/breakoutgame.png" class="img-responsive img-centered" alt="">
                                <p>Game developed in Java using wide range of programming patterns such as; Factory patern, Singleton pattern, Strategy pattern, and State pattern among others. No Github repository available.</p>
                                <ul class="list-inline item-details">
                                    <li>Date:
                                        <strong>May 2014</strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="js/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/cbpAnimatedHeader.js"></script>
        <!-- Contact Form JavaScript -->
        <script src="js/jqBootstrapValidation.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="js/freelancer.js"></script>
        <!-- materialize-->
        <script src="./js/angular.min.js" type="text/javascript"></script>
        <script src="./js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/app.js"></script>

        <script>
        //                         if (document.location.hostname !== 'localhost') {
        //                             (function(i, s, o, g, r, a, m) {
        //                                 i['GoogleAnalyticsObject'] = r;
        //                                 i[r] = i[r] || function() {
        //                                     (i[r].q = i[r].q || []).push(arguments)
        //                                 }, i[r].l = 1 * new Date();
        //                                 a = s.createElement(o),
        //                                     m = s.getElementsByTagName(o)[0];
        //                                 a.async = 1;
        //                                 a.src = g;
        //                                 m.parentNode.insertBefore(a, m)
        //                             })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        //                             ga('create', 'UA-59443495-1', 'auto');
        //                             ga('send', 'pageview');
        //                         }
        // </script>
    </body>
</html>